*{
    margin : 0;
    padding : 0;
}

#nav_drawer{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: aqua;

}
#nav_drawer ul li{
    color: rgba(20,30,30,.9);
    text-align: center;


}
